#impressum.static
  .container
    .row
      .col-md-12
        %header
          %h1.page-header.skl
            Impressum
    .row
      .col-md-12
        %p
          Die Webseite 
          =link_to 'www.limo-journal.de', root_path
          ist ein Produkt von: 
        %address
          <em title="author">AMV Ardland Medien & Vertriebs GmbH</em>
        <span>Anton Storch Straße 21 <br>49080 Osnabrück <br /><br /> Telefon: 0541 – 506 49 16 <br> Handy: 0171 – 529 49 16<br> Fax: 0541 – 998 99 056</span>
        %address{:type=>"mail"}
          =mail_to('info@MrScheck.de', name= "Email: info@MrScheck.de")
        %a{:href=>"www.MrScheck.de", :target=>"_blank"}
          www.MrScheck.de
 