%section#welcome-info
  .container-fluid
    .row
      .col-md-3.elem
        .sign
          %i.fa.fa-certificate
        .number
          %span
            50
        .in
          %span
            Kooperationspartner
        .text
          %p
            Wir arbeiten mit verschiedenen Kooperationspartnern. 
            %br
            = link_to 'Kontaktieren Sie uns', new_contact_path, class:"white"
      .col-md-3
        .sign
          %i.fa.fa-heart-o
        .number
          %span
            150
        .in
          %span
            Gutscheine
        .text
          %p
            Ein Heft besteht aus einer grpßen Anzahl von Gutscheinen.
      .col-md-3
        .sign
          %i.fa.fa-handshake-o
        .number
          %span
            3
        .in
          %span
            Werbemedien
        .text
          %p
            Es kommen verschiedene Werbemedien zum Einsatz.
      .col-md-3
        .sign
          %i.fa.fa-envelope-open-o
        .number
          %span
            500
        .in
          %span
            Verkaufsstellen
        .text
          %p
            Verkaufsstellen befinden sich im Osnabrücker Land und Osnabrück Stadt. 
            Eine stetig wachsende Anzahl.