%section#welcome-info
  .container-fluid
    .row
      .col-md-3.elem
        .sign
          %i.fa.fa-certificate
        .number
          %span
            100
        .in
          %span
            Kooperationspartner
        .text
          %p
            Sed feugiat porttitor nunc Etiam gravida ex justo ac rhoncus purus tristique ut.
      .col-md-3
        .sign
          %i.fa.fa-heart-o
        .number
          %span
            99000
        .in
          %span
            Gutscheine
        .text
          %p
            Sed feugiat porttitor nunc Etiam gravida ex justo ac rhoncus purus tristique ut.
      .col-md-3
        .sign
          %i.fa.fa-handshake-o
        .number
          %span
            100000
        .in
          %span
            Werbemedien
        .text
          %p
            Sed feugiat porttitor nunc Etiam gravida ex justo ac rhoncus purus tristique ut.
      .col-md-3
        .sign
          %i.fa.fa-envelope-open-o
        .number
          %span
            5000
        .in
          %span
            Verkaufsstellen
        .text
          %p
            Sed feugiat porttitor nunc Etiam gravida ex justo ac rhoncus purus tristique ut.