.container-fluid
  .row
    .col-md-8.col-md-offset-2.lik
      .row
        .col-md-3.col-xs-6.zener
          %ul.markt_features_list
            %li.list_element
              .sig
                %i.fa.fa-certificate
            %li.list_element  
              %span.nu
                55
              %span.nv
                Kooperationspartner
              %p
                Wir arbeiten mit verschiedenen Kooperationspartnern. 
                -#%br
                  = link_to 'Kontaktieren Sie uns', new_contact_path, class:"white"
        
        .col-md-3.col-xs-6.zener
          %ul.markt_features_list
            %li.list_element
              .sig
                %i.fa.fa-heart-o
            %li.list_element
              %span.nu
                50
              %span.nv
                Gutscheine
              %p
                Wir setzten auf Mehrwerte. Das Limo Journal beinhaltet attraktive u.a. 2für1 Gutscheine.
        
        .col-md-3.col-xs-6.zener
          %ul.markt_features_list
            %li.list_element
              .sig
                %i.fa.fa-globe
            %li.list_element
              %span.nu
                2.0
              %span.nv
                Print & Online
              %p
                Das Limo-Journal ist online interaktiv - für noch mehr Reichweite.

        .col-md-3.col-xs-6.zener
          %ul.markt_features_list
            %li.list_element
              .sig
                %i.fa.fa-envelope-open-o
            %li.list_element
              %span.nu
                100%
              %span.nv
                Verteilung
              %p
                Das Limo-Journal wird zu 100% verteilt - ohne Streuverluste - für noch mehr Reichweite.