%article#limo-main_article
  %section.shine
    .container-fluid
      .rows
        -#.col-md-10.col-md-offset-1.col-xs-12.col-lg-10.col-lg-offset-1
        .col-md-8.col-md-offset-2.col-xs-12#lim
          %header
            %h1
              %span.li
                Limo
              %span.mo
                Gutschein - Journal
  %section
    .container-fluid
      .rows
        -#.col-md-10.col-md-offset-1.col-xs-12.col-lg-10.col-lg-offset-1
        .col-md-8.col-md-offset-2.col-xs-12
          %header
            %h2.seli
              Limo Journal
              %span.thin
                \-
              %span.col
                Mediadaten
            %p.info
              Die Mediadaten vom Limo-Journal.
          .img-frame
            //= image_tag 'logo-limo_250.jpg', class:"logo-welcome"
          .data-frame
            <iframe width="100%" height="701px" src="https://www.yumpu.com/de/embed/view/vmG1N6HrlYVJyS59" frameborder="0" allowfullscreen="true"  allowtransparency="true" info="false" class="yumpu-video"></iframe>

  %section#limo-main_info.shine
    = render 'st'

  %section#welcome-media_daten
    .container-fluid#video
      .row
        .col-md-8.col-md-offset-2.col-xs-12
          %header
            %h2.seli
              Limo Journal
              %span.thin
                \-
              %span.col
                Video
            %p.info
              Ein Einblick in das Limo-Journal.
          .data
            <iframe src="//yumpu.com/en/video/view/0eebf05918185344?color=%23FFFFFF" width="720" height="405" frameborder="0" allowfullscreen="true"></iframe>
          .btn-c.text-center
            <!--iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.limo-journal.de&width=350&layout=standard&action=like&size=large&show_faces=true&share=true&height=80&appId" width="350" height="90" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe-->
        

