@media(max-width:767px){
  .shine{
    background-color: rgb(190,200,0) !important;
  }
  .lm-lg{
    max-width: 250px;
  }
  .zener{
    height: 50vh;
  }

}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}

